p {
    text-align: justify;
    margin-left: 20px;
    font-size: 25px;
    font-family: "Times New Roman", Times, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.text-cyan {
    color: cyan;
}

.text-green {
    color: green;
}

.text-big {
    font-size: 87px;
}

.text-small {
    font-size: 13px;
}

.link-orange {
    color: orangered;
    text-decoration: none;
}

.bg-slateblue {
    background: rgb(249, 113, 175);
}

.bg-home {
    background: linear-gradient(120deg, rgb(255, 191, 21), rgb(217, 54, 21));
}

.mt-2 {
    margin-top: 27px;
}

.home-img {
    width: 300px;
    height: 500px;
}

.p-2 {
    padding: 20px;
}

.bg-colorJiraiya{
    background: rgba(151, 28, 7, 0.911);
}

.bg-Jiraiyabg{
    background: rgba(23, 83, 21, 0.959);
}

.bg-tsunade{
    background: rgba(43, 67, 199, 0.836);
}

.bg-tsunade2{
    background: rgba(79, 133, 25, 0.658);
}

.bg-orochimaru{
    background: darkorchid;
}

.bg-colororochi{
    background: goldenrod;
}

.bg-Itachi{
    background: red;
}

.bg-akatsuki{
    background: rgba(114, 24, 24, 0.815);
}